body {
    font-family: 'Times New Roman', Times, serif;
}

.listA {
    font-size: 30px;
    font-weight: 800;
}

.buttonA {
    display: block;
    background-color: blue;
    width: 600px;
    margin: auto;
    border: 2px black solid;
}

.linkA,
.divA {
    display: block;
    font-size: 22px;
}

.listC,
.listB {
    color: rgb(252, 36, 36);
}

.hB {
    font-size: 30px;
}

.hP {
    color: rgb(17, 233, 17);
}

.hC {
    color: rgb(219, 34, 210);
}

.hD {
    color: rgb(255, 188, 3);
}

.buttonB {
    height: 60px;
    background-color: rgba(255, 6, 6, 0.438);
}

.hE {
    color: white;
}

.DivN {
    background-color: rgba(0, 153, 255, 0.63);
    margin: auto;
    width: 400px;
    padding: 5px;
    border: rgb(0, 0, 0) 2px solid;
    border-top: 0px;
    
}

.DivNA {
    box-sizing: border-box;
    background-color: aqua;
    width: 100%;
    padding: 5px;
    text-align: center;
    border: 1px black solid;
}
