body {
    font-family: 'Times New Roman', Times, serif;
}

.listA {
    font-size: 30px;
    font-weight: 800;
}

.buttonA {
    background-color: blue;
    width: 600px;
}

.linkA,
.divA {
    font-size: 22px;
}

.listC,
.listB {
    color: rgb(252, 36, 36);
}

.hB {
    font-size: 30px;
}

.hP {
    color: rgb(17, 233, 17);
}

.hC {
    color: rgb(219, 34, 210);
}

.hD {
    color: rgb(255, 188, 3);
}

.buttonB {
    height: 60px;
    background-color: rgba(255, 6, 6, 0.438);
}

.hE {
    color: white;
}